{% extends "header.html" %}

{% block content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/solid-gauge.js"></script>
<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>

<script>
  
  var group_id = {{ group_id }}
  
</script>

<script src="{{ url_for('static', filename='js/chart-hit.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/chart-miss.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/chart-req.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/chart-health.js') }}" type="text/javascript"></script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Details</div>
        </div>
        <div class="panel-body" style="height: 530px;">
          <form action="/overview" method="POST">
            <label for="groups">Group</label>
            <select class="form-control" name="group_id">
              {% for group in groups %}
                {% if group[0] == group_id %}
                  <option value="{{ group[0] }}" selected>{{ group[1] }}</option>
                {% else %}
                  <option value="{{ group[0] }}">{{ group[1] }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn" type="text" name="group">Go</button>
          </form>
          <br>
          <div class="panel panel-default">
            <div class="panel-body text-center">
              <span class="glyphicon glyphicon-heart" style="font-size: 20px; color:#FFE4E1"></span>
              <div id="health-container" style="font-family: 'Righteous', cursive; font-size:40px; color:#989898;">0%</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">Group</div>
            </div>
            <div class="panel-body">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Server</th><th>Status</th>
                  </tr>
                </thead>
                {% for server in servers %}
                <tr>
                  <td>{{ server[1] }}</td><td><span class="glyphicon glyphicon-ok-circle" style="color:green"></span></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="hit-container" style="width:800px; height: 200px; margin: 0 auto"></div>
      <div id="miss-container" style="width:800px; height: 200px; margin: 0 auto"></div>
      <div id="client_req-container" style="width:800px; height: 200px; margin: 0 auto"></div>
    </div>
  </div>
</div>


{% endblock %}
